{% extends 'base.html' %}
{% block content %}
<button type="button" class="btn btn-secondary btn-lg btn-block"><h1>{% block title %}ONE STOP SHOP FOR SHOES{% endblock %}</h1></button>

    <div class="container-fluid">
        <div class="row">
            {% for x in shoes %}


                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ x['image'] }}" alt="image not available">
                    <div class="card-body">
                        <h5 class="card-title">{{ x['name'] }}</h5>
                        <p class="card-text">{{ x['price'] }}</p>
                        <a href="{{ url_for("edit", id=x["id"])  }}">Edit shoe</a>
                        <br>
                        <a href="{{ url_for("delete", id=x["id"])  }}">delete shoe</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}